<div class="col-md-4">
  <div class="well sidebar-nav">
    <div><%= link_to 'Все петиции', petitions_path %></div>

    <div><%= link_to 'Создать петицию', new_petition_path %></div>

    <% if current_user %>
        <div><%= link_to 'Мои петиции', petitions_path({my: true}) %></div>
    <% end %>

  </div>
</div>