<h1>Все петиции </h1>

<div>
  <% flash.each do |name, msg| %>
      <%= msg %>
  <% end %>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Петиция</th>
    <th>Автор</th>
  </tr>
  </thead>

  <% @petitions.each do |petition| %>
      <tr>
        <td>
          <%= link_to petition.title, petition_path(petition)%>
        </td>

        <td>
          <% user = @users.find(id=petition.user_id) %>
          <%= [user.first_name, user.last_name].join(' ') %>
        </td>
      </tr>
  <% end %>
</table>
